*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
back/sharemouz-reservations/.gradle/
back/sharemouz-reservations/.idea/
back/sharemouz-reservations/build/
back/sharemouz-reservations/application.log
back/sharemouz-reservations/.gradle/
back/sharemouz-security/.classpath
back/sharemouz-security/.project
back/sharemouz-reservations/build/

