<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
        >
<head>
  <title>Layout</title>
  <meta id="Viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no"></meta>

    <meta name="_csrf_header" th:attr="content=${_csrf.headerName}"/>
    <meta name="_csrf" th:attr="content=${_csrf.token}" />

  <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/favicon.png}"/>
  <link rel="stylesheet" type="text/css" href="" th:href="@{/styles/main.css}" />
</head>
<body ng-app="sharemouz">
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

 <header class="navbar navbar-static-top affix" role="banner" data-spy="affix">
      <div class="container">
        <nav class="shm-nav">
          <a class="shm-nav-item active" href="#">Home</a>
        </nav>
        <nav class="pull-right" sec:authorize="isFullyAuthenticated()">
          [<a id='authentication' href="signout" th:href="@{/signout}">Sign out</a>]
        </nav>
      </div>
    </header>
<div class="container-fluid main-container">
    <div class="row"  ui-view="profilView">

    </div>
</div>

      <script src="bower_components/jquery/dist/jquery.js"></script>
      <script src="bower_components/angular/angular.js"></script>
      <script src="bower_components/json3/lib/json3.js"></script>
      <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
      <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
      <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
      <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
      <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
      <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
      <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
      <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
      <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
      <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
      <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
      <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
      <script src="bower_components/angular-resource/angular-resource.js"></script>
      <script src="bower_components/angular-cookies/angular-cookies.js"></script>
      <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
      <script src="bower_components/angular-animate/angular-animate.js"></script>
      <script src="bower_components/angular-touch/angular-touch.js"></script>
      <script src="bower_components/angular-route/angular-route.js"></script>
      <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
      <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>


      <script src="scripts/app.js"></script>
      <script src="scripts/controllers/home/profil.js"></script>
      <script src="scripts/controllers/about.js"></script>
      <script src="scripts/directives/mydirective.js"></script>
      <script src="scripts/filters/myfilter.js"></script>
      <script src="scripts/services/myservice.js"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');
</script>

</body>
</html>